/* 상단 헤더 스타일 */
.top-header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    position: fixed;
    top: 0; /* 화면 상단에 고정 */
    left: 0;
    right: 0;
    z-index: 1000;
}

/* 상단 헤더 컨테이너 */
.top-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

/* 로고 스타일 */
.logo h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

/* 상단 액션 버튼 스타일 */
.header-actions {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

.cart-button, .notification-button {
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px; /* 여백 추가 */
  transition: background-color 0.3s;
}

.cart-button:hover, .notification-button:hover {
  background-color: #444;
}

/* 하단 고정 메뉴 스타일 */
.bottom-header {
    background-color: #fff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0; /* 화면 하단에 고정 */
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 10px 0; /* 상하 패딩 추가 */
    height: 6%;
}

/* 하단 메뉴 스타일 */
.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around; /* 메뉴 항목 사이 공간 조정 */
    margin: 0;
    padding: 0; /* 패딩 제거 */
}

.nav li {
    text-align: center;
    margin: 0; /* 메뉴 항목 여백 제거 */
}

.nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

.nav a:hover {
  color: #007BFF; /* hover 시 파란색으로 변경 */
}
  
  /* 메인 콘텐츠 스타일 */
.main-content {
    margin-top: 60px; /* 상단 헤더 높이에 맞춰 여백 추가 */
    margin-bottom: 60px; /* 하단 메뉴 높이에 맞춰 여백 추가 */
    padding: 20px; /* 콘텐츠 내부 여백 */
    min-height: calc(100vh - 120px); /* 전체 높이에서 상단 헤더와 하단 메뉴의 높이를 뺀 최소 높이 설정 */
}

.footer {
    background-color: #f8f8f8; /* 밝은 배경색 */
    padding: 20px; /* 여백 */
    text-align: center; /* 가운데 정렬 */
    position: relative; /* 기본 위치 설정 */
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* 위쪽 그림자 */
    margin-top: 20px; /* 하단 메뉴와의 간격 설정 */
    margin-bottom: 4%;
}

/* 푸터 내비게이션 스타일 */
.footer-nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0; /* 상단 여백 */
}

.footer-nav li {
  display: inline; /* 가로 배치 */
  margin: 0 15px; /* 좌우 여백 */
}

.footer-nav a {
  text-decoration: none; /* 링크 밑줄 제거 */
  color: #333; /* 텍스트 색상 */
  transition: color 0.3s; /* 색상 변화 효과 */
}

.footer-nav a:hover {
  color: #007BFF; /* hover 시 색상 변경 */
}
